.bottom-button{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);

  display: flex;
  align-items: center;
  justify-content: center;
  
}

ion-button  {
  height: 52px;
  width: 52px;
  --background: #FFBB00;
  --color: #fff;
  --border-radius: 50%;
}