ion-content {
  --background: #FFBB00;
}

.box-banner-historico {
  margin: 0 auto;
  width: 80vw;

  img {
    position: absolute;
    top: 1vh;
    left: 6vw;
  }
}

.row-rounded {
  margin-top: 19vh;
  height: 81vh;
  background-color: #FFF;
  border-top-left-radius: 40px;
  border-top-right-radius: 54px;
  padding-top: 20vh;
  color: #6E6E6E;
  
  h3, h6 {
    text-align: center;
  }
}

ion-button  {
  height: 37px;
  width: 119px;
  --background: #DDDDDD;
  --color: #A0A0A0;
  --border-radius: 50px;
}

.item-historico {
  height: 60px;
  background: #DDDDDD;
  border-radius: 10px;
  margin-top: 10px;
}

// TODO: APLICAR A COR QUANDO CLICA E QUANDO ESTÁ SELECIONADO
// ion-button:active {
//   --background: #FFBB00;
//   --color: #FFF;
// }
