ion-content {
  --background: linear-gradient(#ffbb00, #fff, #fff);
}

.box-banner-historico {
  margin: 0 auto;
  width: 80vw;

  img {
    position: absolute;
    top: 1vh;
    width: 80%;
    height: 250px;
  }
}

.row-rounded {
  margin-top: 19vh;
  min-height: 81vh;
  height: 100%;
  background-color: #fff;
  border-top-left-radius: 40px;
  border-top-right-radius: 54px;
  padding-top: 20vh;
  color: #6e6e6e;

  h3,
  h6 {
    text-align: center;
  }
}

ion-button {
  height: 37px;
  width: 119px;

  --background: #dddddd;
  --color: #a0a0a0;
  --border-radius: 50px;
  --background-activated: #ffbb00;
  --background-focused: #ffbb00;
  --background-hover: #ffbb00;
  --color-activated: #fff;
  --color-focused: #fff;
  --color-hover: #fff;
}

.active {
  --background: #ffbb00 !important;
  --color: #fff !important;
}

.item-historico {
  height: 60px;
  background: #dddddd;
  border-radius: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.ion-flex-space-around {
  justify-content: space-around !important;
}

.box-list-historico {
  min-height: 250px;
  max-height: 450px;
  overflow-y: scroll;
  padding-bottom: 6vh;
}

.padding-list-15 {
  padding: 0 15px;
}

.content_qrcode {
  overflow: hidden;
}
.content_qrcode strong {
  font-size: 17px;
}
.text_qrcode {
  text-overflow: ellipsis;
  white-space: nowrap;
}
