<ion-content>

  <ion-row class="row-rounded">
    <ion-col size="12">

      <ion-row>
        <ion-col size="2">
          <ion-back-button defaultHref="historico"></ion-back-button>
        </ion-col>

      </ion-row>
      <h4>
        Nome do titulo QR
      </h4>

      <div class="image_qrcode">
        <img src="/assets/qrcode-descartar.png" alt="">
        <span>www.youtube.com.br</span>
      </div>
      <ion-row>
        <ion-col size="10" offset="1" class="ion-flex-content" style="margin-top: 30px;">
          <ion-button>
            <img src="/assets/share.svg" alt="Share">
          </ion-button>
          <ion-button class="delete" (click)="presentAlertConfirm()">
            <img src="/assets/trash.svg" alt="Delete">
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>



    <!-- <app-bottom-button></app-bottom-button>  //TODO: IMPORTA AQUI-->

    <div class="bottom-button">
      <ion-button>
        <img src="/assets/qr-code.svg" alt="READ">
      </ion-button>
    </div>

  </ion-row>


</ion-content>